<!DOCTYPE html>
<html>
	<head>
		<title>MD Manage Tool</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" charset="utf8" href="https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css">
		<link rel="stylesheet" charset="utf8" href="/vendors/prism/prism.css">
		<link rel="stylesheet" charset="utf8" href="/vendors/markdown.css">
		<link rel="stylesheet" charset="utf8" href="/css/style.css">
	</head>
	<body>
		<div id="md-main">
			<div id="md-page-index" class="hide-scroll" data-bind="css: { hide: page() !== 'index' }">
				<div id="md-entry" data-bind="foreach: mds">
					<div class="md-item">
						<span class="md-item-header">
							<a data-bind="click: $data.edit">+</a>
							<a data-bind="click: $data.delete">-</a>
							<span class="md-item-title" data-bind="text: '[' + $data.id + '] ' + $data.title(), click: $data.show, css: { expand: $data.closed() === false }"></span>
						</span>
						<div class="md-item-content" data-bind="css: { hide: $data.closed }">
							<div data-bind="html: $data.content"></div>
							<div data-bind="foreach: $data.tags">
								<a class="md-item-tag" data-bind="text: $data.name, click: $data.search"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="md-page-create" data-bind="css: { hide: page() !== 'create' }">
				<div id="md-tool">
					<span class="md-tool-button">
						<a data-bind="click: create">create</a>
					</span>
					<span class="md-tool-button">
						<a data-bind="click: update">update</a>
					</span>
				</div>
				<div class="md-h">Body</div>
				<div id="md-body-wrap" class="hide-scroll">
					<textarea id="md-body" data-bind="value: maker.body"></textarea>
				</div>
				<div class="md-h">Tags</div>
				<div id="md-tags-wrap">
					<input id="md-tag-input" data-bind="value: tagMaker.name, valueUpdate: 'keypress', event: { keypress: tagged }" autocomplete="on" list="list-tags" />
					<datalist id="list-tags" data-bind="foreach: tags">
						<option data-bind="value: $data.name, text: '[' + $data.id + '] ' + $data.name()"></option>
					</datalist>
					<div id="md-tags" data-bind="foreach: maker.tags">
						<div class="md-tag-item">
							<div class="md-tag-header">
								<a data-bind="click: $data.untagged">-</a>
								<span class="md-tag-title" data-bind="text: '[' + $data.id + '] ' + $data.name()"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="md-page-console" class="hide-scroll" data-bind="css: { hide: page() !== 'console' }, foreach: console.lines">
				<div data-bind="click: $data.expand, css: { expand: $data.expanded }">
					<div data-bind="text: $data.body"></div>
				</div>
			</div>
			<div id="md-tab-container">
				<div class="md-tab-button" data-bind="css: { active: page() === 'index'}"><a data-bind="click: activate('index')">P</a></div>
				<div class="md-tab-button" data-bind="css: { active: page() === 'create'}"><a data-bind="click: activate('create')">A</a></div>
				<div class="md-tab-button" data-bind="css: { active: page() === 'console'}"><a data-bind="click: activate('console')">C</a></div>
			</div>
		</div>
		<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" charset="utf8" src="/vendors/marked/marked.js"></script>
		<script type="text/javascript" charset="utf8" src="/vendors/prism/prism.js"></script>
		<script type="text/javascript" charset="utf8" src="/js/models/console.js"></script>
		<script type="text/javascript" charset="utf8" src="/js/models/tag.js"></script>
		<script type="text/javascript" charset="utf8" src="/js/models/md.js"></script>
		<script type="text/javascript" charset="utf8" src="/js/models/app.js"></script>
		<script type="text/javascript" charset="utf8" src="/js/client.js"></script>
	</body>
</html>
